
<%= simple_form_for(@episode) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="content form-inputs">
  <p><strong>Please follow the <%#= link_to "moderator guidelines", moderators_path %>.</strong></p>
    <%#= f.error_messages %>
    <%= f.input :position %>
    <%= f.input :name %>
    <%#= f.input :tag_names, :label => "Tags" %>
    <%= f.input :description, :type => :text_area, :rows => 6 %>
    <%= f.input :notes, :type => :text_area, :rows => 20, :cols => 80 %>
    <%= f.input :published_at, :type => :date_select, :label => "Publish Date" %>
    <%= f.input :duration %>
    <%= f.input :asciicasts, :type => :check_box, :label => "Available on ASCIIcasts" %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <% end %>
</div>
